

.content  {
    width: 1280px;
    margin:0 auto;
    font-family: 'Roboto',sans-serif;
}

/*-------------------------------------------------HEADER-------------------------------------------*/


.header-ramda {
    font-family: sans-serif;
}

.header-logo-link {
    padding-top: 63px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: #000000;
}

.header-logo-link span{
    color: #4bcaff;
}




.header-menu {
    width: 100%;
    text-align: center;
    background-color: #35444f;
}

.header-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    flex-wrap: nowrap;
}

.header-menu-item {
    list-style: none;
    border-left: 1px solid #ffffff;

}

.header-menu-item:last-child {
    border-right: 1px solid #ffffff;
}

.header-menu-link {
    display: flex;
    padding: 26px 45px;
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
}



.header-menu-link:hover {
    background-color: #222f3a;
}

/*---------------------------------------------------MAIN--------------------------------------------------*/

.main-ramda {
    padding-top: 50px;
    padding-bottom: 50px;
    display:flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: sans-serif;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #35444f;
}

.sidebar-list {
    display: flex;
    flex-flow:column wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.sidebar-list-item {
    min-width: 345px;
    list-style-type: none;
}



.sidebar-menu-link {
    font-family: 'Roboto',sans-serif;
    display: flex;
    font-size: 27px;
    color: #485863;
    text-decoration: none;
    font-style: normal;
    padding-top: 26px;
    padding-left: 44px;
    padding-bottom: 30px;
    font-weight: 400;
    line-height: 27px;
}



.sidebar-menu-link:hover {
    background-color: #dbdbdb;
    padding-left: 70px;
    color: #000000;
    text-align: center;
}

.main-content {
    display: flex;
    margin-bottom: 54px;
    margin-top: 49px;
}

.main-content-article {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.main-content-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
    margin-top: 0;
    width: 885px;
    height: 559px;
    border: 1px solid #35444f;

}

.main-img {

}

.main-img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition-duration: 500ms;
}

.main-text {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 885px;
    font-size: 18px;
    line-height: 24px;
    color: #2c2c2c;
    text-align: center;
}

/*-------------------------------------------------FOOTER----------------------------------------------*/

.copyright-footer {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b4b7ba;
    font-family: sans-serif;
}

.footer-menu-list{
    display: flex;
    list-style:none;
}

.footer-menu-item {
    margin-right: 20px;
}

.footer-menu-link {
    font-size: 28px;
    color: #0c1927;
    text-decoration: none;
}

.copyright-text {
    padding-right: 40px;
    font-size: 24px;
    color: #010101;
}

.footer-link-hover {
    color: #3181a6;
    border-bottom: 2px solid #3181a6;
}

.footer-menu-link:hover {
    color: #3181a6;
    border-bottom: 2px solid #3181a6;
}
