
@font-face {
    font-family: 'Gilam',sans-serif;
    url('https://fonts.cdnfonts.com/css/gilam')
    font-family: 'Circe',sans-serif;
    url('https://fonts.cdnfonts.com/css/circe')
}

.page-body {
    font-family: 'Gilam', sans-serif;
    background-color: #171717;
    margin-left: auto;
    margin-right: auto;
}

.page-body-dark {
    font-family: 'Gilam', sans-serif;
    background-color: #171717;
    margin-left: auto;
    margin-right: auto;
}

.page-body-light {
    background-color: rgb(128, 128, 128);

}



.container {
    width: 1460px;
    margin: 0 auto;
}
/*------------------------------------------------header---------------------------------*/
.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 37px;
    width: 1460px;
    margin: 0 auto;
}

.section-button {
    border: 1px solid #E4B564;
    color: #E4B564;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 25px 10px 26px;
    font-family: 'Circe',sans-serif;
}
/*------------------------------------------------main-----------------------------------*/

.main-content {
}

.services {
}

.header-title-services {
   padding-bottom: 41px;
    padding-top: 120px;
}

.section-title {
    font-size: 50px;
    line-height: 28px;
    padding-bottom: 41px;
    color: #FFFFFF;
}


.subtitle-text {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}



.work-item {
    background-color:#634F2C;
    grid-area: work;
}

.pipeline {
    background-color: #B4A385;
    grid-area: pipe;
}

.channel {
    background-color: #E4B564;
    grid-area: channel;
}

.fixed-support {
    background-color: #635A4A;
    grid-area: support;
}

.well-construction {
    background-color: #B08C4D;
    grid-area: well;

}

.wrapper {
    display: grid;
    grid-auto-rows: 468px 468px;
    grid-template-columns: repeat(6, 1fr);
    justify-content:center;
    gap: 20px;
    width: 1460px;
    grid-template-areas:
    "work work pipe pipe channel channel"
"support support support well well well";
}


.work-item, .pipeline, .channel, .fixed-support, .well-construction {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding: 30px;
    color:#FFFFFF;
}

.equipment-fleet {
    display: grid;
    grid-template-columns: repeat(3, 460px);
    grid-template-rows: repeat(6,157px);
    gap: 40px;
}

.fleet-first, .fleet-second, .fleet-third, .fleet-four,
.fleet-five, .fleet-six, .fleet-seven {

}

.fleet-name {
    padding-top: 45px;
    padding-left: 50px;
    padding-right: 10px;
}

.fleet-first {
    background-color: #0E0E0E;
    color: #FFFFFF;
    grid-column: 1;
    grid-row: span 2;
}

.fleet-second {
    background-color: #242424;
    color: #FFFFFF;
   grid-column: 2;
    grid-row: span 3;

}

.fleet-third {
    background-color: #1F1F1F;
    color: #FFFFFF;
    grid-column: 3;
    grid-row:span 2;
}

.fleet-four {
    background-color: #1F1F1F;
    color: #FFFFFF;
    grid-column: 1;
    grid-row: span 4;
}

.fleet-five {
    background-color: #e4b564;
    color: #000000;
    grid-column: 2;
    grid-row: span 3;
}

.fleet-six {
    background-color: #0e0e0e;
    color: #FFFFFF;
    grid-column: 3;
    grid-row: 3 / span 2;
}

.fleet-seven {
    background-color: #0a0909;
    color: #FFFFFF;
    grid-column: 3;
    grid-row: span 2;
}

.header-title-construction {
    padding-top: 160px;
}

.section-construction-title {
    font-size: 50px;
    line-height: 28px;
    padding-bottom: 90px;
    color: #FFFFFF;
}

.construction-equipment-fleet {
    display: flex;
    flex-direction: column;
    margin-bottom: 160px;
    width: 100%;
}

/*-------------------------------------------------last section-----------------------------------------*/

.header-title-clients {
    display: inline-flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 60px;
    padding-top: 160px;

}

.item-text {
    font-weight: 600;
    font-family: 'Gilam', sans-serif;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: min-content;
}

.item-text span{
    font-weight: normal;
}

.our-clients-projects {
    background-color: #0E0E0E;
    margin-bottom: 238px;
}

.clients-list-item-first, .clients-list-item-third,
.clients-list-item-four, .clients-list-item-five,
.clients-list-item-six {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 486px;
}

.hand-image {
    margin-top: 16px;
}

.clients-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.clients-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-list-item-first {
    background-color: #634f2c;
}

.clients-list-item-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e8d2ab;
    color: #FFFFFF;
}

.clients-list-item-third {
    background-color: #e4b564;
}

.clients-list-item-four {
    background-color: #635a4a;
}

.clients-list-item-five {
    background-color: #b08c4d;
}

.clients-list-item-six {
    background-color: #634f2c;
}
