

@font-face {
    font-family: 'Roboto',sans-serif;
    src: url('https://fonts.cdnfonts.com/css/roboto');
}

.page-body {
   background-image: url("../images/background 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}


.container {
    width: 1030px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 20px;
}

.contacts-link {
    font-size: 18px;
    line-height: 18px;
    color:#FFFFFF;
}

.contacts-link:hover {
    color:#F26522;
}


.logo-milan {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    padding-left: 8px;
}

.logo-milan span {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.icon-orange {
    display: none;
}

.logo-link:hover .icon-orange {
    display: block;
}

.logo-link:hover .icon-white {
    display: none;
}

.logo-link:hover .logo-milan,
.logo-link:hover .logo-milan span {
    color:#F26522;
}

.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-link:hover {
    color: #F26522;
}

.tours-list {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    list-style: none;
    text-align: center;
    color: #FFFFFF;
    row-gap: 80px;
    column-gap:62px;
    padding-left: 0;
    margin: 0;
}

.tours-list-item {
    display: block;
}

.list-item-image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-right: 2px solid;
    border-left: 2px solid;
    border-image: linear-gradient(0deg, #000000 25%,#FFFFFF) 2;
}


.list-item-link:hover .tour-description{
    color: #F26522;

}

.list-item-link:hover .price-block {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: #F26522;
    align-items: center;
    width: 100%;
    height: 75px;
    left: 0;
    bottom: 42px;
    color: #fff;
    padding: 0 10px;
}


.list-item-link {
    color: #FFFFFF;
    position: relative;
    display: block;
    width: 100%;
}

.price-block {
    display: none;
    position: absolute;
}


.price-cost {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
}

.price-cost span{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.price-details{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.price-details::after {
    content: '>';
}

.tour-description {
    font-size: 18px;
    line-height: 18px;
    color:#FFFFFF;
}

.page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color:#FFFFFF;
}