@font-face {
    font-family: 'Ubuntu';
    font-weight: normal;
    font-style: normal;
}

*{
    padding:0;
    margin:0;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: url("../images/background-photo.png")  no-repeat center center fixed;
    background-size: cover;
    font-family: 'Ubuntu',sans-serif;


}

/*------------------------------------------------------HEADER--------------------------------------------------------*/

.header-block {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 58px;
    padding-right: 80px;
    padding-left: 80px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu-text {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}



.logo-link {
    color: #FFF;
    font-weight: 700;
    text-decoration: none;
    font-size: 22px;
    line-height: 22px;
}

.logo-link:hover {
    color: #01813F;
}


.nav-icon .icon{
    fill:white;
    margin-right: 28px;
}

.nav-icon:hover .icon{
    fill:#01813F;
}

.vertical-line {
    margin-right: 28px;
    height: 19px;
    width: 1px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}

.green-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.green-link:hover {
    text-decoration: none;
    color: #01813F;
}

/*----------------------------------------------------MAIN------------------------------------------------------------*/

.content {
    font-family: 'Ubuntu',sans-serif;
    position: relative;
    height: calc(100vh - 58px);
    text-align: center;
}

.form {
    width:  444px;
    height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    margin:0 auto;
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'Ubuntu',sans-serif;
    margin-top: 29px;
    margin-right: 60px;
    margin-left: 60px;
}

#square {
    height: 18px;
    width: 18px;
    background: #3CB878;
    position: absolute;
    left: 0;
    top: 29px;
}

.sign-up {
    margin-bottom: 17px;
    font-size: 20px;
    line-height: 20px;
}

.login {
    font-family: 'Ubuntu',sans-serif;
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
}

.login:hover {
    color:#01813F;
    text-decoration: underline;
}



.social {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.fab {
    color: #FFF;
}

/*--------------------------------------------------------BUTTONS-----------------------------------------------------*/

.facebook {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Ubuntu',sans-serif;
    background-color: #305DB8;
    margin-left: 60px;
    font-size: 12pt;
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 3px;
    outline: none;
}

.facebook span {
    font-size: 16px;
    line-height: 16px;
    color:#FFFFFF;
}


.facebook:hover {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #022263;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.google-plus {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Ubuntu',sans-serif;
    background-color: #DF4A32;
    margin-right: 60px;
    font-size: 12pt;
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 3px;
    outline: none;
}

.google-plus span {
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.google-plus:hover {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#AB1F09;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}


.vertical-line-button {
    height: 28px;
    width: 1px;
    margin-left: -10px;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.create-button {
    font-family: 'Ubuntu',sans-serif;
    background: rgba(60, 184, 120, 0.8);
    color: #ffff;
    font-size: 16px;
    line-height: 16px;
    margin: 10px;
    width: 322px;
    height: 46px;
    border: none;
    border-radius: 4px;
}

.create-button:hover{
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    background-color:#01813F;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.check-mark  {
    display: inline-flex;
    align-items: center;
}

.check-mark input {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.check-mark:before {
    background-color: #FFF;
}

.check-mark-text {
    color: #3cb878;
    padding-left: 10px;
    text-decoration: none;
}

.check-mark-text:hover{
    color:#01813F;
    text-decoration: underline;
}

.divider {
    display: inline-block;
    font-size: 16px;
    text-align: center;
    margin: 25px 0 9px 0;
}

.divider::before, .divider::after {
    content: "";
    display: inline-block;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    vertical-align: middle;
}

.divider .text {
    color: #949494;
    font-size: 14px;
    line-height: 14px;
}


.input-form {
    font-family: 'Ubuntu',sans-serif;
    text-align: left;
    color: #bebebe;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 9px;
    width: 322px;
    height: 46px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 6px;
}

.input-form:focus {
    -webkit-box-shadow: 0 5px 17px 0 #bebebe;
    -moz-box-shadow: 0 5px 17px 0 #bebebe;
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
    outline: none;
    border: none;
    border-radius: 4px;

}

.checkbox-block {
    margin: 10px 60px;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
}

