
*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'montserrat';
url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
}
body {
    width: 1280px;
    margin: 0 auto;
}
/*------------------------------------------------------------------------Header------------------------------------------*/
.navbar-menu {
    text-align: center;
    text-transform: uppercase;
    font-family: 'montserrat', sans-serif;
    font-style: normal;
    margin: 25.5px 330px 25.5px 330px;
}

.navbar-menu a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    color: #FF0000;
}

.navbar-menu-item {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
}

/*------------------------------------------------------------------------Main---------------------------------------------*/

.image-block {
    background-image: url("../images/simple photo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 100%;
    width: 1280px;
    height: 789px;
    margin: 0 auto;
}

.article-block {
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-style: normal;


    }
.article-block h2{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    font-size: 22px;
    line-height: 27px;
    margin-top: 49px;
    margin-bottom: 38px;
    color: #373737;
}

.article-block p{
    letter-spacing: 2.4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #373737;
}

.button-block {
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    margin-top: 66px;
    margin-bottom: 82px;
    margin-left: auto;
    margin-right: auto;

}

.button-block a{
    font-family: 'montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 42.5px;
    padding-right: 43.5px;
    color: #FFFFFF;

}

/*----------------------------------------------------------------------Footer------------------------------------------------------------------*/

.copyright-block {
    font-family: 'montserrat', sans-serif;
    position: relative;
    text-align: right;
    margin-top: 82px;
    margin-right: 105px;
    font-weight: 700;
    letter-spacing: 2.4px;
    margin-bottom: 29px;
    margin-left: 713px;
}
